
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
}

body {
  line-height: 1;
  color: #333333;
}
ol, ul {
  list-style: none;
}

html{
  background-color:#fff;
  font-size: 62.5%;
  font-weight: 200;
  font-family:"Avenir",'Noto Sans Japanese',"YuGothic", "游ゴシック" ,"hiragino","Meyrio",sans-serif;
}
li{
  list-style: none;
}
html,body{
  width: 100%;
  height: 100%;
  /*overflow-x: hidden;*/

}
th{
  font-weight: 200;
}

.clearfix{}
.clearfix:after{
  display: block;
  content: '';
  clear:both;
}


.loadingWrap{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
  z-index: 99999999999999;
}
.loadingWrap > p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4%;
  margin-left: -4%;
  width: 8%;
}
.loadingWrap > p > img{
  width: 100%;
  height: auto;
}

div#uchabout{
  position: absolute;
}
@media screen and (min-width: 1820px) {
  div#uchabout{
    margin-top: -0.3%;
  }
}
div.title > a{
  color: #333333;
  text-decoration: none;
}


div.navigation{
  clear: both;
  display: block!important;
  width: 100%;
  background-color: #EEE;
}


.bgwhite{
  background-color: #fff;
}


/*共通ボタン MORE*/
p.moreB{
  width: 100%;
  background-color: #878787;
  text-align: center;
  line-height: 3.4rem;
  height: 3.4rem;
  font-weight: 500;
}
p.moreB > a{
  display: block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-family:"Avenir","Montserrat";
    letter-spacing: 0.3rem;
}
p.moreB > a:hover{
  background-color: #AFAFAF;
}








/*記事ページカスタマイズcss*/
ol li{
  list-style: lower-greek;
}

.ribon{
  background-image: url();
}

i.fa-star{
  color: #878787;
}


/*固定ページ-contact-form*/
div.contact-form{
width: 100%;
}
div.contact-form ul{
  width: 100%;
}

div.contact-form ul li > span.red{
  color: red;
}

div.contact-form ul li > p:first-child{
  margin-bottom: 0;
  padding-bottom:0;
}
div.contact-form ul li .post1{
  width: 40%;
  margin-left: 0;
}
div.contact-form ul li .post2{
  width: 52%;
}

div.page-contents > h1.page-title{
  width: 100%;
  font-size: 1.9rem;
  line-height:3rem;
  margin-bottom: 5%;
}
/*固定ページ（お問い合わせ）入力間違い時のcss*/
div.screen-reader-response{
  display: none;
}
span.wpcf7-not-valid-tip[role="alert"]{
  color: red;
  padding-left: 5%;
}
div.wpcf7-validation-errors[role="alert"]{
  color: red;
}
span.contact-title{
  font-weight: 500;
}
/********記事ページ**********************/
div.mainphoto{
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
}
div.imgcate{
    background-image: url(images/postimg2.jpg);
}
div.imgsingle{
    background-image: url(images/postimg3.jpg);
}

div.entry_main{
  margin-bottom: 6%;
}
div.entry > p.state{
  margin-bottom: 6%;
}
/*author関連*/
div.saboxplugin-wrap{
  border-top: 1px solid #e7ebed;
  padding: 5%;
  margin-top: 20%;
}
div.saboxplugin-gravatar{
  width: 20%;
}
div.saboxplugin-gravatar img{
  width: 100%;
}
div.saboxplugin-wrap div.vcard{
  width: 100%;
}


div.post-contents a{
  color:#333333;
  text-decoration: none;
}
div.post-contents a:hover{
  text-decoration: underline;
}
div.post-contents ul.postype li img{
  width: 100%!important;
  height: auto!important;
}
/*サイドバー*/

div.right-sidebar form{
  font-weight: 500;
  color:#333333;
}
div.right-sidebar div.sidebar-contents-wrap{
  margin-top: 15%;
}
div.right-sidebar input#searchsubmit{
  font-size: 0.5rem;
}
div.widget_search{
  margin-bottom: 10%;
}
div.right-sidebar li a{
  color: #333333;
  text-decoration: none;
}
div.right-sidebar li a:hover{
  text-decoration: underline;
}
div.right-sidebar li{
  line-height: 3rem;
  padding-left: 1rem;
  font-weight: 500;
}
div.right-sidebar h2.widgettitle{
  margin-top: 3rem;
  height: 4rem;
  line-height: 4rem;
}

div.widget_tag_cloud h2{
visibility: hidden;
}
div.right-sidebar ul.sidebar-pickup > li{
  border: 1px solid #e7ebed;
  margin-bottom: 4%;
padding-bottom: 2%;
}
div.right-sidebar ul.sidebar-pickup > li > div.pickup-thum{
  width: 96%!important;
  height: 100px!important;
  overflow: hidden;

}
div.right-sidebar ul.sidebar-pickup > li > div.pickup-thum img{
  width: 100%!important;
  height: auto!important;
}
div.right-sidebar ul.sidebar-pickup > li > div.pickup-content{
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 200;
}
/*カテゴリーページ*/
ul.category > li{
  margin-bottom: 15%;
}
div.cate-thumbox{
  width: 100%;
}
div.post-contents h2{
  font-size: 1.8rem;
  margin-bottom: 10%;
}
div.post-contents ul.category li h3{
  font-size: 1.3rem;
  margin-bottom: 2%;
}
div.cate-thumbox > a > img{
  width: 100%;
  height: auto;
  opacity: 1;
}
div.cate-thumbox > a:hover > img{
  opacity: 0.6;
}
/*ペジネーションーカテゴリーページ*/
ul#pagination{
  font-weight: 500;
  margin-top: 10%;
}
#prevli{
  float: left;
}
#nextli{
  float: right;
}
/*ペジネーションシングルページ*/
ul#pagination > li#prev_next{
  display: flex;
}

ul#pagination > li#prev_next > a{
  display: block;
  width: 43.5%;
  border: 1px solid #e7ebed;
  padding: 2.5%;
}
ul#pagination > li#prev_next > a:first-child{
  margin-right: 3%;
}
ul#pagination > li#prev_next > a > div#next_title{
  float: right;
}
ul#pagination > li#prev_next > a.clearfix > div{
    margin-bottom: 5%;
}
ul#pagination > li#prev_next li.pagi-thumbox{
  width: 40%!important;
  height: 40%!important;
  overflow: hidden!important;
}
ul#pagination > li#prev_next ul.prevnext li.pagi-thumbox > img{
  width: 100%!important;
  height: auto!important;
}
ul#pagination > li#prev_next ul.prevnext{
  display: flex;
  clear: both;
}
ul#pagination > li#prev_next ul.prevnext > li{
  font-weight: 200;
  font-size: 1.3rem;
  overflow: hidden;
}

ul#pagination > li#prev_next ul.prevnext > li.pagi-title{
  padding: 3%;
}
/*}*/
